@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

body{
  scroll-behavior: smooth;
}

.isActive{
  color: #06a055 !important;
}  


.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: 1px solid #06a055;

}

.react-tabs__tab {
  background-color: white;
  display: inline-block;
  position: relative;
  list-style: none;
  padding: 14px 24px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border:1px solid #06a055  !important;
  color: black;
  border-radius: 5px;
  outline: none;
}


.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.font-primary{
  font-family: "Poppins", sans-serif;
}

.font-secondary{
  font-family: "Syne", sans-serif;
}

.text-s{
  font-size: 13px;
}
.text-m{
  font-size: 14px;
}
.text-l{
  font-size: 15px;
}