@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

@import "tailwindcss";

@source "./index.html";
@source "./src/**/*.{js,ts,jsx,tsx}";

@theme {
  --font-primary: ["Poppins", "sans-serif"];
  --font-secondary: ["Syne", "sans-serif"];
  
  --color-heroBg: #0e1122;
  --color-para: rgb(0 0 0 / 80%);
  --color-primary: #06a055;
}